.toolbar h1 {
    padding-left: 5px;
  }
  .mat-toolbar.mat-primary {
    --mat-toolbar-container-background-color: #673ab7;
    --mat-toolbar-container-text-color: white;
}
.mat-toolbar-row, .mat-toolbar-single-row {
    display: flex;
    box-sizing: border-box;
    padding: 0 16px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    height: var(--mat-toolbar-standard-height);
}

button {
  width: 80%;
  max-width: 300px;
  margin-bottom: 1em;
}