<h2 mat-dialog-title>Add new Task</h2>
<mat-dialog-content [formGroup]="taskForm">
  <mat-form-field>
    <mat-label>Caption</mat-label>
    <input cdkFocusInitial matInput formControlName="caption" />
    @if(taskForm.controls.caption.hasError('required')) {
    <mat-error>Caption field is required</mat-error>
    }
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description"></textarea>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Deadline Date</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="deadlineDate" />
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Assignee</mat-label>
    <input matInput formControlName="assignee" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Priority</mat-label>
    <mat-select formControlName="priority">
      @for(option of priorityOptions; track option.value) {
      <mat-option [value]="option.value">{{ option.label }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Task Status</mat-label>
    <mat-select formControlName="status">
      @for(option of statusOptions; track option.value) {
      <mat-option [value]="option.value">{{ option.label }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-button (click)="save()">Add</button>
</mat-dialog-actions>
